<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h4 class="title-border pb-4">
        コメント修正
      </h4>
        <div class="jumbotron bottom">
          <%= form_with model: @postcomment, url: customer_post_post_comment_path, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :comment, "コメント" %>
            <%= f.text_area :comment, class: 'form-control' %>
          </div>
          <div  class="pt-4", align="center">
            <%= f.submit "編集内容を保存", class: "btn rounded-pill" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>