<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <h4 class="title-border pb-4">
        退会お手続き
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
     退会手続きをされますと、投稿・予約サービスがご利用いただけなくなります。<br>
     再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
     本当に退会してよろしいですか？
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12 mx-auto text-center">
     <%= link_to "退会する", customer_withdrawal_path, method: :patch, data: { confilm: "本当に退会しますか？" }, class: "btn link" %>
     &emsp;&emsp;
     <%= link_to "退会しない", customer_customer_path(current_customer), class: "btn link" %>
    </div>
  </div>
</div>