<div class="container bg-img">
  <div class="row">
    <div class="col-8 mx-auto pt-5">
      <div class="box py-4">
        <h1 class="display-4">
          HELLO :）
        </h1>
        <p class="lead">
          Salon model searchはサロン予約サイトです！<br>
          カットモデルをやりたい方、カットモデルを探している美容師さん、<br>
          募集投稿をしてみませんか？<br>
          きっといいサロン、カットモデルさんが見つかりますよ！<br>
          </br>
            　　　　　　　　　　　　　　　　　　　　　by Salon model search
        </p>
      </div>
    </div>
  </div>
</div>
