<div class="container">
  <h1 class="display-4 bg-img">
    bonjour :）
  </h1>
  <p class="lead">
    Salon model searchはサロン予約サイトです！<br>
    カットモデルをやりたい方、カットモデルを探している美容師さん、<br>
    募集投稿をしてみませんか？<br>
    きっといいサロン、カットモデルさんが見つかりますよ！
  </p>
</div>
