<h6>美容院・カットモデル一覧</h6>
　<%= render "customer/posts/index", posts: @posts %>
<h6>キーワード検索</h6>
  <%= render "customer/searches/index" %>
<h6>タグ検索</h6>
  <%#= render 'form', post: @post %>
<h6>いいねランキング</h6>
<h6>フォローランキング</h6>
<h6>希望投稿</h6>
