<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="jumbotron">
        <h5>新着サロン一覧</h5>
        　<%= render "customer/posts/index", posts: @posts %>
      </div>
      <div class="jumbotron">
        <h5>キーワード検索</h5>
          <%= render "customer/searches/index" %>
      </div>
      <div class="jumbotron">
        <h5>タグ検索</h5>
      </div>
      <div class="jumbotron">
        <h5>お気に入り登録者数ランキング</h5>
          <%= render "customer/ranks/rank", post_ranks: @post_ranks %>
      </div>
    </div>
  </div>
</div>