<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="jumbotron">
        <h5>美容院・カットモデル一覧</h5>
        　<%= render "customer/posts/index", posts: @posts %>
      </div>
      <div class="jumbotron">
        <h5>キーワード検索</h5>
          <%= render "customer/searches/index" %>
      </div>
      <div class="jumbotron">
        <h5>タグ検索</h5>
          <%#= render 'customer/tags/form', post: @post %>
      </div>
      <div class="jumbotron">
        <h5>いいねランキング</h5>
      </div>
      <div class="jumbotron">
        <h5>フォローランキング</h5>
      </div>
      <div class="jumbotron">
        <h5>希望投稿</h5>
      </div>
    </div>
  </div>
</div>