@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  line-height: 2;
  background-image: url("../images/bg-img-2.jpg");
  min-height: 100vh;
  position: relative;
}

.bg-img {
  background-image: url("../images/about.png");
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center 60%;
  height: 500px;
}

.box {
  background-color: rgba(255,255,255,0.5);
  width: 700px;
  height: 400px;
}

.display-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed; top: 0; left: 0;
  background-color: #EBF6F7;
  color: #805140;
  z-index: 100;
}

header a,
header a:hover,
.hum-menu-content a,
.hum-menu-content a:hover {
  color: #805140;
}

.list-inline {
  font-family:'ＭＳゴシック';
}

.mt-5 {
  font-family:'ＭＳゴシック';
}

.hum-menu {
  background-color: #EBF6F7;
  top: 10px;
  right: 10px;
  z-index: 9999;
  color: #805140;
}

.navbar-toggler {
  border-color: #805140;
}

.hum-menu-content {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(235, 246, 247, .9);
  z-index: 8888;
}

.search-card-img {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.jumbotron {
  background-color: #FCFAF7;
}

.bottom {
  box-shadow: 2px 2px 2px 2px #d6c2bb;
}

.btn {
  background: #94D6DA;
  color: #fff;
}

.alert{
  text-align: center;
  font-weight: bold;
}

footer {
  background-color: #EBF6F7;
  color: #805140;
  margin-bottom: 5px;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.link {
  text-decoration: none;
  color: white;
}

.link2 {
  text-decoration: none;
  color: black;
}

.like {
  text-decoration: none;
  color: red;
}

.notlike {
  text-decoration: none;
  color: black;
}

.heart {
  color: red;
}

.comment {
  color: #659AD2;
}

.title-border {
  display: flex;
  align-items: center;
  color: #805140;
}
.title-border:before,
.title-border:after {
  border-top: 2px solid;
  content: "";
  flex-grow: 2;
}
.title-border:before {
  margin-right: 2rem;
}
.title-border:after {
  margin-left: 2rem;
}

.pagination > li > a
{
  background-color: white;
  color: #805140;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: #805140;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a
{
  color: white;
  background-color: #805140;
  border: solid 2px #805140;
}

.pagination > .active > a:hover
{
  background-color: #805140;
  border: solid 2px #805140;
}

.title {
  border-top: 3px;
  border-bottom: 1px solid #805140;
}

.submit-btn{
  border: none;
  border-radius: 0.5rem;
  background: #94D6DA;
  color: #fff;
}

.sidebar{
    position: sticky;
    top: 0px;
    padding: 40px;
    width: 100%;
}

p {
  margin-bottom: 0px;
}

.page-item.active .page-link {
  background-color: #805140;
  border-color: #805140;
}

a:hover {
  color: #805140;
  text-decoration: none;
}

.btn:hover {
  color: #805140;
}

.link3 {
  text-decoration: none;
  color: red;
}

.padding-y-footer {
  padding: 5rem 0;
}

.link4 {
  color: black;
}

input[type="text"] {
  @media screen and (max-width: 1200px) {
  width: 150px;
  height: 28px;
  }
  width: 300px;
  height: 40px;
}