@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  line-height: 2;
}

// .bg-img {
//   background-image: url("../images/about.png");
//   background-size: cover;
//   background-position: center 60%;
// }

header {
  background-color: #EBF6F7;
  color: #805140;
}

header a,
header a:hover,
.hum-menu-content a,
.hum-menu-content a:hover {
  color: #805140;
}

.list-inline {
  font-family:'ＭＳゴシック';
}

.my-5 {
  font-family:'ＭＳゴシック';
}

.hum-menu {
  background-color: #EBF6F7;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.hum-menu-content {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(235, 246, 247, .9);
  z-index: 8888;
}

.search-card-img {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.jumbotron {
  background-color: #FCFAF7;
}

.bottom {
    box-shadow: 2px 2px 2px 2px #d6c2bb;
}

.btn {
    background: #94D6DA;
    color: #fff;
}

footer {
  background-color: #EBF6F7;
  color: #805140;
}